frontend/build
frontend/node_modules
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/.DS_Store
frontend/coverage
frontend/build
frontend/public/static
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.vscode
frontend/cache
frontend/cypress/screenshots/
frontend/.vercel
frontend/contract-build

node_modules
build
.env
.vscode
.DS_Store
